{% extends "parent.html" %}
{% block css_and_js_href %}
<link rel="stylesheet" href="../static/header.css">
<link rel="stylesheet" href="../static/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"
  integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g=="
  crossorigin="anonymous" />
<!-- JQuery for checkbox triggering-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
  body {
    background: #eeecec !important;
  }
</style>
{% endblock %}

{% block title %}Summary{% endblock %}

{% block contents %}
<div style="width: 50vw">
  <h2>Bar Graph: Current Classmen in CSCI 5117</h2>
  <canvas id="currentStudentYearChart"></canvas>
  <br /><br /><br /><br />
  
  <h2>Time Graph: Number of Filled-Out Survey / Day</h2>
  <canvas id="timeChart"></canvas>
  <br /><br /><br /><br />
  
  <h2>Pie Graph: Different Majors Who are Taking CSCI 5117</h2>
  <canvas id="majorPieChart"></canvas>
  <br /><br /><br /><br />
  
  <h2>Pie Graph: Why Take CSCI 5117?</h2>
  <canvas id="whyTake5117Chart"></canvas>
  <br /><br /><br /><br />
  
  <h2>Bar Graph: Suggestions for this Survey</h2>
  <canvas id="suggestionChart"></canvas>
</div>

<br />
<br />
<br />

<h3><input type="checkbox" id="display-database" /> Click here to display the entire database</label></h3>
<br />
<table class="pure-table pure-table-bordered" id="survey-database">
  <colgroup>
    <col />
    <col />
    <col style="background-color: rgba(0,0,255,.25)" />
    <col />
    <col />
  </colgroup>
  <thead>
    <tr>
      <th>Survey ID</th>
      <th>Timestamp</th>
      <th>Major</th>
      <th>Year</th>
      <th>Why Take CSCI5117?</th>
      <th>Suggestions</th>
    </tr>
  </thead>
  <tbody>
    {% for n in data %}
    <tr style="font-size: 14px">
      {% if n[0] == None %} <td></td> {% else %} <td> {{ n[0] }}</td>{% endif %}
      {% if n[1] == None %} <td></td> {% else %} <td> {{ n[1] }}</td>{% endif %}
      {% if n[2] == None %} <td></td> {% else %} <td> {{ n[2] }}</td>{% endif %}
      {% if n[3] == None %} <td></td> {% else %} <td> {{ n[3] }}</td>{% endif %}
      {% if n[4] == None %} <td></td> {% else %} <td> {{ n[4] }}</td>{% endif %}
      {% if n[5] == None %} <td></td> {% else %} <td> {{ n[5] }}</td>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


{% block bottom_js_scripts %}
<script>document.getElementById("survey-database").style.display = "none";</script>
<script src="/static/summary.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
  integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"
  integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg=="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/admin_summary_currentStudentYear.js"></script>
<script type="text/javascript" src="/static/admin_summary_time.js"></script>
<script type="text/javascript" src="/static/admin_summary_major.js"></script>
<script type="text/javascript" src="/static/admin_summary_why5117.js"></script>
<script type="text/javascript" src="/static/admin_summary_suggestion.js"></script>
<script type="text/javascript">
  display_current_year({{ currentStudentYearList | safe}});
  display_time({{ timestampList | safe}});
  display_major({{ majorList | safe}});
  display_reason({{ reasonList | safe}});
  display_suggestion({{ suggestionList | safe}});
</script>

{% endblock %}