<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  <!-- <a class="pure-menu-heading" href="{{ url_for("survey_root") }}">Animal Watch</a> -->

  <ul class="pure-menu-list">
    <li class="pure-menu-item link"><a href="{{ url_for("survey_root") }}" class="pure-menu-link">Home</a></li>
    <!-- <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Locations</a></li>
    <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Sign Up</a></li>
    <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Login</a></li> -->
  </ul>
</div>

<div style="padding-bottom: 8vh"></div>