{% extends "parent.html" %}
{% block css_and_js_href %}
<link rel="stylesheet" href="static/main.css">
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block contents %}
<h1>Hello!</h1>
<p>Would you like to give your consent to participate in our anonymous survey about this course?</p>
<br />

<b>
  <a href="{{ url_for('survey_consent') }}"><button class="button-success pure-button equal_width">Consent</button></a>
  <a href="{{ url_for('survey_declined') }}"><button class="button-error pure-button equal_width">Decline</button></a>
</b>
{% endblock %}